html, body{
	max-width: 100%;
}

table, th, td{
	border: none;
}

table {
	width: auto !important;
	table-layout: fixed;
	margin-bottom: 0;
}

th, td {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

li {
	margin-bottom:10px;
	line-height:120%;
}

.button {
	min-width: 75px;
	margin: 5px;
}

/* Range slider style */
input[type=range] {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	width: 200px; /* Specific width is required for Firefox. */
	background: transparent; /* Otherwise white in Chrome */
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 6px;
	cursor: pointer;
	background: rgba(153, 153, 153, 1.0);
	border-radius: 0px;
	border: none;
	margin-top: -12px;
}
input[type=range]::-webkit-slider-thumb {
	border: none;
	height: 28px;
	width: 16px;
	border-radius: 0px;
	background: rgba(131, 211, 201, 1.0);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -12px;
}
input[type=range]:focus::-webkit-slider-thumb {
	border: 2px solid rgba(153, 153, 153, 1.0);
	border-radius: 2px;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 6px;
	cursor: pointer;
	background: rgba(153, 153, 153, 1.0);
	border-radius: 0px;
}
input[type=range]::-moz-range-thumb {
	border: none;
	height: 28px;
	width: 16px;
	border-radius: 0px;
	background: rgba(131, 211, 201, 1.0);
	cursor: pointer;
}
input[type=range]:focus::-moz-range-thumb {
	border: 2px solid rgba(153, 153, 153, 1.0);
	border-radius: 2px;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 6px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: rgba(153, 153, 153, 1.0);
	border: none;
	border-radius: 0px;
}
input[type=range]::-ms-fill-upper {
	background: rgba(153, 153, 153, 1.0);
	border: none;
	border-radius: 0px;
}
input[type=range]::-ms-thumb {
	border: none;
	height: 32px;
	width: 16px;
	border-radius: 0px;
	background: rgba(131, 211, 201, 1.0);
	cursor: pointer;
}
input[type=range]:focus::-ms-thumb {
	border: 2px solid rgba(153, 153, 153, 1.0);
	border-radius: 2px;
}

input[type=range]::-webkit-slider-thumb:hover {
	background: rgba(150, 218, 209, 1.0);
}

input[type=range]::-moz-range-thumb:hover {
	background: rgba(150, 218, 209, 1.0);
}

input[type=range]::-ms-thumb:hover {
	background: rgba(150, 218, 209, 1.0);
}